<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ZList App | 好看的列表</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/css/amazeui.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>


  <div id="zlistapp">

    <header class="am-topbar am-topbar-inverse">
      <div class="am-container">
        <h1 class="am-topbar-brand">
          <a href="#">ZList</a>
        </h1>

        <button 
        class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" 
        data-am-collapse="{target: '#doc-topbar-collapse'}">
        <span class="am-sr-only">导航切换</span> 
        <span class="am-icon-bars"></span>
      </button>
      <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <div class="am-topbar-right">
          <a class="am-btn am-btn-success am-topbar-btn am-btn-sm" href="https://github.com/zlisthq/zlist" target="_blank">GitHub</a>
        </div>
      </div>

    </div>
  </header>
  <div class="am-container">
    <div class="am-g">
      <div class = "am-u-md-12">

        <button type="button" class="my-active am-active item-source am-btn am-btn-default am-round" data-link="/zhihudaily/latest">知乎日报</button>
        <div class="am-dropdown" data-am-dropdown>
          <button class="my-active am-btn am-btn-default am-round am-dropdown-toggle" data-am-dropdown-toggle>V2EX <span class="am-icon-caret-down"></span></button>
          <ul class="am-dropdown-content">
            <li><a class="item-source" data-link="/v2ex/hot" href="#">V2EX Hot</a></li>
            <li class="am-divider"></li>
            <li><a class="item-source" data-link="/v2ex/latest" href="#">V2EX Latest</a></li>
          </ul>
        </div>
        <div class="am-dropdown" data-am-dropdown>
          <button class="my-active am-btn am-btn-default am-round am-dropdown-toggle" data-am-dropdown-toggle>简书 <span class="am-icon-caret-down"></span></button>
          <ul class="am-dropdown-content">
            <li><a class="item-source" data-link="/jianshu/now" href="#">当前热门</a></li>
            <li class="am-divider"></li>
            <li><a class="item-source" data-link="/jianshu/weekly" href="#">七日热门</a></li>
            <li class="am-divider"></li>
            <li><a class="item-source" data-link="/jianshu/monthly" href="#">三十日热门</a></li>
          </ul>
        </div>
        <div class="am-dropdown" data-am-dropdown>
          <button class="my-active am-btn am-btn-default am-round am-dropdown-toggle" data-am-dropdown-toggle>Hacker News <span class="am-icon-caret-down"></span></button>
          <ul class="am-dropdown-content">
              <li><a class="item-source" data-link="/hackernews/topstories" href="#">Top Stories</a></li>
            <li class="am-divider"></li>
              <li><a class="item-source" data-link="/hackernews/newstories" href="#">New Stories</a></li>
              <li class="am-divider"></li>
              <li><a class="item-source" data-link="/hackernews/showstories" href="#">Show HN</a></li>
              <li class="am-divider"></li>
              <li><a class="item-source" data-link="/hackernews/askstories" href="#">Ask HN</a></li>
          </ul>
        </div>
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/producthunt/top">Product Hunt</button>
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/36kr/next">NEXT</button>
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/mindstore/top">MindStore</button>
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/kickstarter/latest">Kickstarter</button>
      </div>
    </div>
  </div>
  <div class="am-container" style="margin-top:0.5rem;margin-bottom:0.5rem;">
    <div class="am-g">
      <div class = "am-u-md-12">
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/wanqu/top">湾区日报</button>
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/pingwest/news">PingWest 快讯</button>

        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/solidot/top">Solidot</button>
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/github/top">GitHub</button>
         <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/douban/moment">豆瓣 一刻</button>
          <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/ifanr/survey">ifanr 观察</button>
           <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/toutiao/top">开发者头条</button>
        </div>
      </div>
    </div>
<div class="am-container" style="margin-top:0.5rem;margin-bottom:0.5rem;">
    <div class="am-g">
      <div class = "am-u-md-12">
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/thepaper/top">澎湃新闻</button>
        <button type="button" class="my-active item-source am-btn am-btn-default am-round" data-link="/guokr/handpick">果壳精选</button>
        </div>
      </div>
    </div>
    <div class="am-container">
      <ul id="item-list" class="am-list am-link-muted am-list-striped">
      </ul>

    </div>

  </div>
  <script type="text/template" id="item-template">
  <a href="<%- url %>" target="_blank"><%- title %></a>
  </script>
  <script src="/static/js/jquery-1.11.2.min.js"></script>
  <script src="/static/js/underscore-min.js"></script>
  <script src="/static/js/backbone-min.js"></script>
  <script src="/static/js/amazeui.min.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>
